<section fxLayout="" fxLayoutAlign="center center">
  <div fxFlex="800px" fxFlex.lt-md="95%">
    <form fxLayout="row wrap" >
      <h1 fxFlexFill>Geben Sie uns Feedback</h1>
      <p fxFlexFill>Mit Ihrem Feedback können wir besser werden.</p>
      <mat-form-field fxFlex="100%" appearance="fill">
        <mat-label>Bezeichnung</mat-label>
        <input matInput >
      </mat-form-field>

      <mat-form-field fxFlex="100%" appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <mat-checkbox fxFlexFill>Datenschutz</mat-checkbox>

      <button mat-flat-button color="accent">Jetzt absenden</button>
    </form>
  </div>
</section>
