<div class="split">
  <div class="split-left"></div>
  <div class="split-right">
    <div class="form">
      <h1>Jetzt einloggen</h1>
      <button mat-stroked-button><img src="./assets/images/Google_G-Logo.wine.svg" height="30px"  alt="Google Logo"><span>Anmelden mit Google</span></button>
      <button mat-stroked-button><img src="./assets/images/Facebook-f_Logo-Blue-Logo.wine.svg" height="30px" alt="facebook-Logo"><span>Anmelden mit Facebook</span></button>
      <div class="divider"><span>Oder werde ein eigener Lieferdienst</span></div>
      <p>Erstellen Sie einen Lieferdienst mit einer unserer Partner</p>
      <button mat-flat-button color="accent" routerLink="../lieferdienst-werden">Lieferdienst erstellen</button>
    </div>
  </div>
</div>
