@use 'sass:map';
@use '@angular/material' as mat;
@use "../../../../theme" as myt;

.settings {
  height: calc(100vh - 64px);

  .container {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;

    mat-card {
      width: 100%;
      margin: .5rem 0;
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        mat-form-field {
          width: 100%;
        }

        .mat-radio-button ~ .mat-radio-button {
          margin-left: 16px;
        }
      }
    }
  }
}
