
    <div class="groups">
      <div class="container" fxFlex="60vw" fxFlex.lt-md="95%">
        <h3><b>Impressum</b></h3>
      </div>
    </div>

    <div class="fields">
      <div class="container" fxFlex="60vw" fxFlex.lt-md="95%">
        <p>Brandname<br>
          Musterstraße 999<br>
          01234 Musterhause
          Gesetzlicher Vertreter: <span>Max Mustermensch</span>
        </p>
        <p><a href="mailto:info@dailybreakfast.de" target="_blank">info@dailybreakfast.de</a></p>
        <p>Unternehmensregister: <span>Musterhause</span><br/>
          Unternehmensregister-Nr.: <span>0123456789</span></p>
        <p>MwSt-Nummer: DE0123456789</p>
        <p>Plattform der EU-Kommission zur Online-Streitbeilegung: <a href="https://ec.europa.eu/consumers/odr"
                                                                      target="_blank">https://ec.europa.eu/consumers/odr</a>
        </p>
      </div>
    </div>
