// 900
$mat-primary: (
  50: #f5e9e5,
  100: #f0cdb8,
  200: #e7ae89,
  300: #dd915b,
  400: #d77c36,
  500: #d16b07,
  600: #c76504,
  700: #b95e01,
  800: #ad5702,
  900: #954a04,
  contrast: (
    50: #954a04,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white,
  )
);
// 900
$mat-accent: (
  50: #e0f4fe,
  100: #b1e2fb,
  200: #7ecff8,
  300: #4bbcf4,
  400: #23aef2,
  500: #00a0ee,
  600: #0092df,
  700: #037BC5,
  800: #036fb7,
  900: #044f95,
  contrast: (
    50: #044f95,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white,
  )
);
// 900
$mat-danger: (
  50: #fbe8ea,
  100: #f5c5c8,
  200: #dd8e8b,
  300: #cb6360,
  400: #d0423b,
  500: #cf2f1e,
  600: #c2251e,
  700: #b11a19,
  800: #a41313,
  900: #950406,
  contrast: (
    50: #950406,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
// 800
$mat-triadic: (
  50: #f2f9e7,
  100: #def0c3,
  200: #c8e79c,
  300: #b1dd72,
  400: #9dd54f,
  500: #8bcd28,
  600: #7bbd20,
  700: #65a913,
  800: #4f9504,
  900: #217300,
  contrast: (
    50: #217300,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  )
);
