
$mat-primary: (
  50: #fbe8e6,
  100: #ffcaba,
  200: #fea88e,
  300: #fe8560,
  400: #fd6a3d,
  500: #fd4f1a,
  600: #f24916,
  700: #e44211,
  800: #d63b0c,
  900: #be2d02,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$mat-accent: (
  50: #e2f1ff,
  100: #b9dcff,
  200: #8ac7ff,
  300: #56b0ff,
  400: #279fff,
  500: #008eff,
  600: #0080ff,
  700: #146dea,
  800: #1c5bd8,
  900: #2239b8,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$mat-danger: (
  50: #ffe7e6,
  100: #ffc7b8,
  200: #ffa28a,
  300: #ff795b,
  400: #ff5436,
  500: #ff200c,
  600: #ff1507,
  700: #ff0000,
  800: #f10000,
  900: #da0000,
  contrast: (
    50: #b40000,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$mat-warning: (
  50: #ffffe6,
  100: #fcfdc0,
  200: #f9fa93,
  300: #f5f662,
  400: #f0f234,
  500: #ffff00,
  600: #ffeb00,
  700: #ffd100,
  800: #ffb700,
  900: #ff8a00,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: white,
    900: white,
  )
);

$mat-triadic: (
  50: #e3ffea,
  100: #bbffcc,
  200: #84ffa9,
  300: #00ff80,
  400: #00fb5b,
  500: #00f43f,
  600: #00e232,
  700: #00ce22,
  800: #00bb11,
  900: #009900,
  contrast: (
    50: #007900,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  )
);
